<style>
    .table th,
    .table td {
        padding: 4px 4px 4px 4px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }

    .table thead th {
        border-bottom: 2px solid #dee2e6;
        text-align: center;
        font-size: smaller;
    }

    .Mandatoryfield {
        font-size: 15px
    }

    .ng-star-inserted {
        /* position: fixed !important; */
        z-index: 999 !important;
        /* top: 0px;
    left: 0px;
    will-change: transform;
    transform: translate(863px, 84px); */
    }

    .box {
        border: 1px solid red;

    }

</style>

<!--form for add new circle-->
<ng-template #content let-modal let-d="dismiss" data-backdrop="static" data-keyboard="false" >
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title"> New Circle Details </h5>

            <div>
            </div>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="card-outline">
                    <div class="card-body">
                        <div>
                            <label>WH Name<span style="color: red;" class="Mandatoryfield"><b>*</b></span></label>
                            <select class="form-control form-control-sm" [(ngModel)]="mappingModel.WHId" id="ddlWhName">
                                <option class="dropdown-item" [value]="0">Select</option>
                                <option *ngFor="let item of SearchWHList" [value]="item.Id">{{item.itemName}}
                                </option>
                            </select>
                        </div>

                        <div>
                            <label>Circle Name<span style="color: red;" class="Mandatoryfield"><b>*</b></span></label>
                            <angular2-multiselect id="ddlCircleName" [data]="SearchCircleList"
                                [(ngModel)]="mappingModel.SelectedCircleList" [settings]="MultidropdownSettings"
                                (onDeSelectAll)="onClickCircle('DelAll')" (ngModelChange)="onClickCircle('')">
                            </angular2-multiselect>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer center ">
            <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="d('Cross click')">Cancel</button>
            <button type="submit" *ngIf="Save" class="btn btn-success" id="Save"(click)="AddUpdateWhCircleMasterDetail()"
             data-dismiss="modal" (click)="d('Cross click')">Save </button>
        </div>
    </div>
</ng-template>


<div class="wrapper">
    <app-main-header></app-main-header>
    <!-- Main Sidebar Container -->
    <app-main-sidebar></app-main-sidebar>
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
        <p style="color: white">Please Wait. </p>
    </ngx-spinner>
    <div class="content-wrapper" style="min-height: 54.0312px; background-color: white;">
        <!-- breadcrum -->
        <div class="content-header bg-light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Masters / WhCircleMapping</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.breadcrum -->
        <section class="content" style="padding-top:2px;">
            <div class="container-fluid">
                <div class="row" *ngIf="isShownList">
                    <div class="col-sm-12">
                        <div class="row mb-1" style="margin-left:3px">
                            <div class="col-sm-1">
                                <label class="col-form-label-xs">WH Name</label>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control form-control-sm" [(ngModel)]="searchMappingModel.WHId">
                                    <option class="dropdown-item" [value]="0">Select</option>
                                    <option *ngFor="let item of SearchWHList" [value]="item.Id">{{item.itemName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <label class="col-form-label-xs col-sm-4">Circle Name</label>
                            </div>
                            <div class="col-sm-2">
                                <angular2-multiselect [data]="SearchCircleList"
                                    [(ngModel)]="searchMappingModel.SelectedCircleList"
                                    [settings]="MultidropdownSettings" (onDeSelectAll)="onClickSearchCircle('DelAll')"
                                    (ngModelChange)="onClickSearchCircle('')">
                                </angular2-multiselect>
                            </div>
                        </div>

                        <div class="row mb-1" style="margin-left:3px">
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="background-color:#28a745;">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-success" *ngIf="ObjUserPageRight.IsSearch"
                                        (click)="GetWHCircleMappingList('List')">
                                        <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                                    <button type="button" class="btn btn-success" *ngIf="ObjUserPageRight.IsExport"
                                        (click)="GetWHCircleMappingList('Export')">
                                        <i class="fa fa-download" aria-hidden="true"></i> Excel Export</button>
                                    <button type="button"  *ngIf="ObjUserPageRight.IsCreate" class="btn btn-success" (click)="CreateNew()">
                                        <i class="fa fa-plus"></i> WH Circle Mapping</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-alpine"
                                [enableSorting]="true" [enableFilter]="true" [pagination]="true" paginationPageSize="20"
                                [columnDefs]="columnDefs" [multiSortKey]="multiSortKey"
                                [tooltipShowDelay]="tooltipShowDelay" [rowData]="rowData" [columnDefs]="columnDefs"
                                [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>