<style>
  @media screen {
    .modal-adaptive .modal-lg {
      width: 10% !important;
      max-width: calc(10%);
    }
  }

  .my-class .modal-dialog {
    max-width: 10%;
    width: 10%;
  }
</style>

<ng-template #ChangePass let-d="dismiss">
  <form [formGroup]="ChangePassform" (ngSubmit)="submit()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Change Password</h5>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-group">
                <input class="form-control" type="password" formControlName="CurrentPassword" autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f.CurrentPassword.errors }" placeholder="Current Password">
                <div *ngIf="submitted && f.CurrentPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.CurrentPassword.errors.required">current password is required</div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" type="password" maxlength="15" formControlName="NewPassword"
                  autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }"
                  placeholder="New Password">
                <div *ngIf="f.NewPassword && f.NewPassword.invalid" class="invalid-feedback">
                  <div *ngIf="f.NewPassword.errors.required">new password is required.</div>
                </div>
              </div>
              <div class="form-group">
                <input class="form-control" type="password" maxlength="15" formControlName="ConfirmPassword"
                  autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }"
                  placeholder="Confirm Password">
                <div *ngIf="f.ConfirmPassword && f.ConfirmPassword.invalid" class="invalid-feedback">
                  <div *ngIf="f.ConfirmPassword.errors.required">confirm password is required.</div>
                  <div *ngIf="f.ConfirmPassword.errors.confirmedValidator"> new password and confirm password must be
                    match.</div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="d('Cross click')">Cancel</button>
        <button type="submit" class="btn btn-success">Save </button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #ChangeCompany let-modal let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Select Company Name</h5>
      <div>
      </div>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <div class="form-group" style="margin-top: 10px;">
              <select class="form-control form-control-sm" id="txtSelectCompanyId" [(ngModel)]="CompanyId"
                (change)="ChangeCompanyvalidation()">
                <option class="dropdown-item" value="0">Select </option>
                <option *ngFor="let item of CompanyData" [value]="item.Id">{{item.Name}}</option>
              </select>

            </div>

          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <div class="modal-footer ">
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="d('Cross click')">Cancel</button>
      <button type="submit" class="btn btn-success" (click)="CompanyPopupClick(CompanyId)">Submit </button>
    </div>
  </div>


</ng-template>
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-dark navbar-success">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a class="nav-link" style="font-size:16px;"><strong>{{CompanyFullName}}</strong></a>
    </li>
  </ul>

  <!-- SEARCH FORM -->
  <!-- <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-none d-sm-inline-block">
      <a class="nav-link" style="font-size:16px;"><strong>Covid Helpline Toll Free No- 18001037316</strong></a>
    </li>

    <!-- <button class="btn" style="background-color: aliceblue;" type="submit" (click)="open(ChangePass)"  >
        Change Password
       </button>&nbsp; -->
    <li class="nav-item d-none d-sm-inline-block">
      <a (click)="open(ChangePass)" class="nav-link button" style="cursor:pointer ;" title="Change Password"><i
          class="fa fa-key text-lg"></i></a>
    </li>
    <!-- <button class="btn" style="background-color: aliceblue;" type="submit" (click)="CompanyChange(ChangeCompany)">
      Select Company
    </button>&nbsp; -->
    <li class="nav-item d-none d-sm-inline-block">
      <a (click)="CompanyChange(ChangeCompany)" class="nav-link button" style="cursor:pointer ;"
        title="Change Company"><i class="fa fa-building text-lg"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a (click)="logoutclick()" class="nav-link button" style="cursor:pointer ;" title="Logout"><i
          class="fa fa-sign-out-alt text-lg"></i></a>
    </li>


    <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">            
            <div class="media">
              <img src="assets/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>           
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
           
            <div class="media">
              <img src="assets/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
           
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
          
            <div class="media">
              <img src="assets/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
           
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li> -->
    <!-- Notifications Dropdown Menu -->
    <!-- <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li> -->
    <!-- <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"><i class="fas fa-th-large"></i></a>
      </li> -->
  </ul>
</nav>
<!-- /.navbar -->