<style>
    .table th, .table td {
        padding: 4px 4px 4px 4px;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table thead th {
        border-bottom: 2px solid #dee2e6;
        text-align: center;
        font-size: smaller;
    }   
    .Mandatoryfield
    {
    font-size:15px
     }
     .ng-star-inserted
     {
      /* position: fixed !important; */
      z-index:999 !important;
    /* top: 0px;
    left: 0px;
    will-change: transform;
    transform: translate(863px, 84px); */
     }
     .box {
     border :1px solid red;
 
}
    </style>
     <ng-template  #content  let-modal let-d="dismiss" >
      <div class="modal-content" >
        <div class="modal-header"  >
          <h5 class="modal-title" id="modal-basic-title"> Item Make Detail </h5>
          
          <div>
         </div>
        </div>
        <div class="modal-body">
            <div class="col-md-12">
                <div class="card-outline">
              <div class="card-body">
              <div class="" >
                <label class=" ">Make Name<span style="color: red;"class="Mandatoryfield"><b>*</b></span></label>
              <input type="text" id="txtMakeName" appAutofocus autocomplete="off" [(ngModel)]="model.MakeName" placeholder="Please enter Make Name " (keypress)="onKeypressVendorName()"   class="form-control form-control-sm" />
               </div>
               
               <div class="" >
                <label class=" ">Status<span style="color: red;"class="Mandatoryfield"><b>*</b></span></label>
                <select class="form-control form-control-sm" id="txtStatus" [(ngModel)]="model.Isactive" (change)="ChangeStatus()" >
                    <option class="dropdown-item"  value="2">Select </option>
                                        <option class="dropdown-item"  value="1">Active</option>
                                        <option class="dropdown-item"  value="0">Deactive</option>
              </select>
              <input type="hidden"  id="txtContact" autocomplete="off" [(ngModel)]="model.hiddenMakeId"  placeholder=""  class="form-control form-control-sm" />
               </div>
            </div>
            </div>
            <!-- /.card -->
            </div>
        </div>
        <div class="modal-footer center ">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="d('Cross click')" >Cancel</button>
          <button type="submit" *ngIf="Save" class="btn btn-success" data-dismiss="modal" (click)="AddUpdateItemMasterDetial()" >Save </button>
        </div>
      </div>
    </ng-template>
   
  <div class="wrapper">
      <app-main-header></app-main-header>   
      <!-- Main Sidebar Container -->
      <app-main-sidebar></app-main-sidebar>
      <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
        </ngx-spinner> 
      <div class="content-wrapper" style="min-height: 54.0312px; background-color: white;">
          <!-- Content Header (Page header) -->
        <div class="content-header bg-light">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                  <li class="breadcrumb-item active"> Masters / Make List </li>
                </ol>
                </nav>
              </div>
              </div>
            </div>
        </div>
             <!-- /.content-header -->
             <section class="content" style="padding-top:2px;" >
                <div class="container-fluid">  
                  <div class="row" *ngIf="isShownList">
                      <div class="col-sm-12">                   
                     
                        <div class="row mb-1" style="margin-left:3px">  
                             <div class="col-sm-1">  
                              <label class="col-form-label-xs">Make Name</label>
                            </div>     
                                     
                            <div class="col-sm-2">                             
                              <select class="form-control form-control-sm" [(ngModel)]="model.SearchItemName"  >
                                <option class="dropdown-item" [value]="0">Select</option>
                                <option *ngFor="let item of SearchItemNameList" [value]="item.id" >{{item.itemName}}</option>
                               </select>
                           
                             </div>

                             <div class="col-sm-1">  
                              <label class="col-form-label-xs col-sm-4">Status</label>
                            </div> 
                             <div class="col-sm-2"> 
                                <angular2-multiselect [data]="SearchStatusList" 
                                [(ngModel)]="SelectedStatusList" 
                                [settings]="MultidropdownSettings" 
                                (onDeSelectAll)="onSearchVenDeSelectAll($event)"
                                (onDeSelect)="onSearchDeSelectSingle($event)"
                                (ngModelChange)="SearchChangeStatus($event)"
                                >
                               </angular2-multiselect>
                               <!-- <select class="form-control form-control-sm" id="txtSearchStatus"    [(ngModel)]="model.SearchStatus" >
                                <option class="dropdown-item"  value="2">Select </option>
                                        <option class="dropdown-item"  value="1">Active</option>
                                        <option class="dropdown-item"  value="0">Deactive</option>
                            </select> -->
                               </div>
                         </div>                 
                        <div class="row mb-1" style="margin-left:3px">  
                        </div>   
                              <!-- /.Ravider -->
                       
                        <div class="row">
                                  <div class="col-sm-12" style="background-color:#28a745;">
                                  <div class="btn-group btn-group-sm">
                                      <button type="button" *ngIf="ObjUserPageRight.IsSearch" class="btn btn-success" (click)="SearchItemMasterGridList('List')"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                                      <button type="button" *ngIf="ObjUserPageRight.IsExport" class="btn btn-success" (click)="SearchItemMasterGridList('Export')"><i class="fa fa-download" aria-hidden="true"></i> Excel Export</button>
                                      <button type="button" *ngIf="ObjUserPageRight.IsCreate" class="btn btn-success" (click)="CreateNew()"><i class="fa fa-plus"></i> New Make </button> 
                                    </div>
                                      
                                  </div>
                                </div>
                            </div>
                        <div class="col-sm-12">                     
                            <div class="row">
                                  <ag-grid-angular
                                      style="width: 100%; height: 500px;"
                                      class="ag-theme-alpine"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      [pagination]="true"
                                      paginationPageSize ="20"  
                                      [columnDefs]="columnDefs"                         
                                      [multiSortKey]="multiSortKey"
                                      [tooltipShowDelay]="tooltipShowDelay"
                                      [rowData]="rowData"
                                      [frameworkComponents]="frameworkComponents"
                                      (gridReady)="onGridReady($event)">      
                                    </ag-grid-angular>
                            </div>
                      </div>
                  </div>

                </div>
             </section>
                 
      </div>
  </div>
